header {
    color: orange;
    font-size: 72px;
    text-align: center;
}

.watch_container{
border-style: solid;
border-color: #fdef86;
margin: 10px;    
border-radius: 13px;
}

.watch_description{
    font: unica one;
    background-color: #1A1818;
    font: dosis;
}
.watch_container{
font-size:26px;
border-color:   


}